.header {
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 0;
}

.form > * {
  margin-bottom: 1rem;
}

.footer {
  display: flex;
  font-size: 0.8rem;
}

.footer > *:not(:last-child) {
  margin-right: 0.3rem;
}

.signin__link {
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
