.container {
  border: 1px solid var(--lighter_grey);
  padding: 1rem 0.75rem 0.625rem;
  border-radius: 0.2rem;
  position: relative;
  cursor: text;
}

.input {
  font-size: 1rem;
  border: none;
}

.input:focus {
  outline: none;
}

.label {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--dark_grey);
  position: absolute;
  pointer-events: none;
  top: 1rem;
  left: 0.8rem;
  transition: 0.3s ease all;
}

.input:focus ~ .label,
.container:hover > .label,
.input:not(:placeholder-shown) ~ .label {
  top: 0.3rem;
  font-size: 0.6rem;
}
